alias ll="ls -lahFG"

#git specific
alias gti="git"
alias gs="git status"
alias gd="git diff --color=always"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gco="git commit"
